<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hi !</title>
</head>
<body>
    <h1>Hi !</h1>
    <h2>So... apparently I'm not totally useless..great...</h2>
    <h6>Yes it's ugly and yes I know</h6>
    <br>
        <div>
            <img src="https://media.giphy.com/media/a1QLZUUtCcgyA/giphy.gif" />
        </div>
</body>
</html>